
<div class="bookmark">
  <a href="/bookmark/{{bookmark.id}}"><span class="link-span"></span></a>
  {{^if permalink}}
    <div class="headline">
      <a href="{{bookmark.url}}">
        {{setTitle bookmark}}
      </a>
    </div>
  {{/if}}
  <div class="subhead">
    {{#if permalink}}
      <span class="bookmark-date" title="{{bookmark.created_at}}">
        {{bookmark.timestamp}}
      </span>
    {{else}}
      <a href="/bookmark/{{bookmark.id}}" class="bookmark-date" title="{{bookmark.created_at}}">
        {{bookmark.timestamp}}
      </a>
    {{/if}}
    <span class="bookmark-domain">
      {{bookmark.domain}}
    </span>
    {{#if bookmark.created_at}}
      {{#with (convertToWaybackMachineTimestamp bookmark.created_at bookmark.url)}}
        <a href="https://web.archive.org/web/{{this}}" class="web-archive-link" target="_blank" rel="noopener noreferrer">
          (Archive)
        </a>
      {{/with}}
    {{/if}}
  </div>
  <div class="description">
    {{{htmlize bookmark.description}}}
    {{#if (getGithubEmbed bookmark.url)}}
      {{#with (getGithubEmbed bookmark.url)}}
        <div class="github-card" data-user="{{this.[0]}}" data-repo="{{this.[1]}}"></div>
        {{!-- Github generation not working, possible solution will be to manually make github API calls to generate card, might be inefficient--}}
      {{/with}}
    {{else if (bookmarkIsYouTubeURL bookmark.url)}}
      {{#with (getYouTubeVideoID bookmark.url)}}
        <div class="youtube-container">
          <iframe src="https://www.youtube.com/embed/{{this}}"></iframe>
        </div>
      {{/with}}
    {{else if (getSpotifySrcURL bookmark.url)}}
      {{#with (getSpotifySrcURL bookmark.url)}}
        <div class="spotify-container">
         <iframe class="spotify-iframe" src="{{this}}"></iframe>
        </div>
      {{/with}}
    {{else}}
      {{!-- Handle other types of URLs or content --}}
    {{/if}}
  </div>
  <div class="tags">
    {{#if tagged}}
      {{#each bookmark.tagNames}}
        {{#ifIn this @root.pathTags}}
          <span class="tag tag-disabled">
            #{{this}}
            {{^ifThisTag this @root.path}}
              <a href="{{removeTag this @root.path}}" class="tag-op tag-remove">
                -
              </a>
            {{/ifThisTag}}
          </span>
        {{else}}
          <span class="tag">
            <a href="/tagged/{{this}}">#{{this}}</a>
            <a href="{{@root.path}}/{{this}}" class="tag-op tag-add">
              +
            </a>
          </span>
        {{/ifIn}}
      {{/each}}
    {{else}}
      {{#each bookmark.tagNames}}
        <span class="tag">
          <a href="/tagged/{{this}}">
            #{{this}}
          </a>
        </span>
      {{/each}}
    {{/if}}
  </div>
  <div class="bottom">
    {{^if permalink}}
      {{#if bookmark.comment_count}}
        <span>
          <a href="/bookmark/{{bookmark.id}}">
            {{bookmark.comment_count}}
            {{pluralize bookmark.comment_count "comment" "comments"}}
          </a>
        </span>
      {{/if}}
    {{/if}}
    {{#if @root.loggedIn}}
      <span>
        <a href="/bookmark/{{bookmark.id}}/edit">
          edit
        </a>
      </span>
    {{/if}}
  </div>
</div>