{{#if reply}}
<div class="comment reply-comment">
{{else}}
  <div class="comment">
{{/if}}
  <div class="top">
    <strong>
      {{{comment.linked_display_name}}}
    </strong>
    <span
      class="timestamp"
      title="{{comment.created_at}}"
    >
      <a href="https://tomcasavant.glitch.me/bookmark/{{comment.bookmark_id}}">
        {{comment.timestamp}}
      </a>
      
    </span>
  </div>
  <div class="content">
    {{comment.content}}
  </div>
  {{#if admin}}
    <form action="/comment/{{comment.id}}/toggle" method="post">
      <button type="submit">
        {{#if comment.visible}}
          Hide
        {{else}}
          Approve
        {{/if}}
      </button>
    </form>
  {{/if}}
</div>
